*{
  padding: 0;
  margin: 0;
  position: relative;
}
.App {
  background-color: darkseagreen;
  height: 100vh;
}
#headerFont{
  color: #343434;
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 100px;
  line-height: 1.6;
}
#app-title{
  line-height: 50vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#tagline{
  color: #F9F6EE;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}